---
layout: single
permalink: /
classes: wide
sidebar:
  nav: "sidenav"
feature_row:
  - image_path: images/nclsite.jpg
    alt: "Newcastle Digital Transformation Centre"
    title: "Newcastle Digital Transformation Centre"
    excerpt: "The Digital Transformation Centre demonstrates real life examples of digital transformation in action:
    <br/>  - [Learn about the Centre](https://github.dxc.com/pages/NewcastleDigitalTransformationCentre/docs/overview/)
    <br/>  - [Digital Transformation Centre Manifesto](https://github.dxc.com/pages/NewcastleDigitalTransformationCentre/docs/manifesto/)
    <br/>  - [Digital Transformation Centre Blueprint](https://github.dxc.com/pages/NewcastleDigitalTransformationCentre/docs/blueprint/)
    <br/>  - [How to engage with the Centre](https://github.dxc.com/pages/NewcastleDigitalTransformationCentre/docs/engage/) "

  - image_path: images/dtc-operatingmodel1.jpg
    alt: "Centre Operating Model"
    title: "Centre Operating Model"
    excerpt: "The Digital Transformation Centre is stuctured around small multi function and self learning teams, with a curious mindset.
    <br/> - Operating Model Overview - coming soon
    <br/> - Centre Functions - Comming Soon
    <br/> - [Delivery Organisation and Culture](https://github.dxc.com/pages/NewcastleDigitalTransformationCentre/docs/culture/)
    <br/> - [Newcastle Capabilities and Skills](https://github.dxc.com/pages/NewcastleDigitalTransformationCentre/docs/capabilities/)
    <br/> - [Darwin Delivery Hub](https://dxc.facebook.com/groups/TheDarwinDigitalDeliveryHub/about/)"

  - image_path: images/pdacircle.jpg
    alt: "Product Development Approach"
    title: "Product Development Approach"
    excerpt: "Centre combines the power of Design Thinking, Agile and DevOps principles to  rapidly solve business challenges through an  approach influenced by industry best practice in lean, agile, UX and service design.
    <br/> - [Learn more about the Approach](https://github.dxc.com/pages/NewcastleDigitalTransformationCentre/docs/pda/)
    <br/> - [Watch a Short Video](https://video.dxc.com/media/t/1_6rjhmkfy/94683232)
    <br/> - [watch an information Exchange Session](https://video.dxc.com/media/t/1_ncs8tb22/94683232)"

  - image_path: images/dtc-scaling.jpg
    alt: "Scaling Digital Delivery "
    title: "Scaling Digital Delivery"
    excerpt: "The Newcastle Digital Transformation Centre is helping to drive the transformation of DXC's Delivery Capability across the Globe alongside the Bionix programme and IDM
    <br/> - [Digital Transformation Centres / Digital Transformation Units](https://github.dxc.com/pages/NewcastleDigitalTransformationCentre/docs/DTxModel/)
    <br/> - [Scaled Delivery Framework - DXC SAFe Model](https://github.dxc.com/pages/NewcastleDigitalTransformationCentre/docs/scaleddigitalframework/)"

---
<style>
 .page {
    padding-right: 30px; /*DXC Customization - override content padding for main page*/
  }
</style>
<link rel="stylesheet" href="ism/css/my-slider.css"/>
<script src="ism/js/ism-2.2.min.js"></script>

<div class="ism-slider" data-buttons="false" id="my-slider">
  <ol>
    <li>
      <img src="images/slider_Image0.png">
      <a class="ism-caption ism-caption-0" href="https://video.dxc.com/media/t/1_axipcyyc" target="_self" data-delay='100'>Listen</a>
    </li>
    <li>
      <img src="images/Slider_Image1.png">
      <a class="ism-caption ism-caption-0" href="{{ "/overview/" | relative_url}}" target="_self" data-delay='100'>Explore</a>
    </li>
    <li>
      <img src="images/slider_Image2.png">
      <a class="ism-caption ism-caption-0" href="{{ "/blueprint/" | relative_url}}" target="_self" data-delay='100'>Contribute</a>
    </li>
  </ol>
</div>

{% include feature_row id="intro" type="center" %}
{% include feature_row id="feature_row" type="left" %}
